<div class="contact-form" >

  <form method="post" >
    <div class="contact-form-input contact-form-input-top" >
      <input type="text" name="name" placeholder="Name" />
    </div>

    <div class="contact-form-input contact-form-input-top" style="margin-right:0px" >
      <input type="text" name="email" placeholder="Email" />
    </div>

    <div class="contact-form-input contact-form-input-bottom" >
      <textarea name="inquiry" placeholder="Inquiry" class="contact-form-input-textarea"></textarea>
    </div>

    <br />
    <div class="contact-form-input contact-form-submit">
      <input type="submit" value="Submit" />
    </div>
  </form>

</div>