<div style="clear:both" ></div>
<div class="contact-form" >

  <div style="clear:both" ></div>
  <form method="post" action="/contact" >
    <input type="hidden" value="<%= request.path %>" name="referer" />
    <div class="contact-form-input contact-form-input-top" >
      <input type="text" name="name" placeholder="Name" />
    </div>

    <div class="contact-form-input contact-form-input-top" style="margin-right:0px" >
      <input type="text" name="email" placeholder="Email" />
    </div>

    <div class="contact-form-input contact-form-input-bottom" >
      <textarea name="inquiry" placeholder="Send an Inquiry" class="contact-form-input-textarea"></textarea>
    </div>

    <br />
    <div class="contact-form-input contact-form-submit" style="margin-left:20px;">
            <input type="image" src="/assets/call_nav_2_submit.jpg"  width="103" height="35" border="0" />
    </div>
  </form>

</div> 