<div class="contact-form-container" >

  <form method="get" >
    <div class="contact-form-input contact-form-input-top" >
      <input type="text" name="name" placeholder="Name" />
    </div>

    <div class="contact-form-input contact-form-input-top" >
      <input type="text" name="email" placeholder="Email" />
    </div>

    <div class="contact-form-input contact-form-input-bottom" >
      <textarea name="inquiry" placeholder="Inquiry"></textarea>
    </div>

  </form>

</div>