<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;<p /><p /></td>
	</tr>
	<tr align="center">
		<td><table width="960" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			<tr>
				<td><img src="images/call_brand.jpg" alt="Susan Calloway Fine Arts" width="360" height="245" /></td>
				<td><img src="images/call_home_nav.jpg" alt="(navigation) Fine Art | Design | About | Contact" width="600" height="245" border="0" usemap="#Map" /></td>
				</tr>
			<tr>
				<td colspan="2"><img src="images/960x65topbar.gif" alt="decoration" width="960" height="66" /><br /><img src="images/frontBanner/960x120_imagebar3.jpg" alt="Images" width="960" height="120" /><br /><img src="images/960x15bottombar.gif" alt="decoration" width="960" height="15" /></td>
				</tr>
			<tr>
				<td colspan="2"><img src="images/call_home_foot.jpg" alt="Footer" width="960" height="155" /></td>
				</tr>
		</table></td>
	</tr>
		<tr>
		<td>&nbsp;</td>
	</tr>
		<tr align="center">
		<td></td>
	</tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="83,212,184,245" href="fineArt.php" />
<area shape="rect" coords="193,211,274,250" href="customFramesMirrors.php" />
<area shape="rect" coords="284,211,363,245" href="about.php" /><area shape="rect" coords="371,213,504,247" href="contact.php" />
</map><!---->