<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;<p /><p /></td>
  </tr>
  <tr align="center">
    <td><table width="960" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <%= render "shared/left_navigation" %>
        <td width="405px"><%= image_tag "15x600_lefttbar.jpg" %><%= image_tag "frame_pcs.jpg" %>
        <!--<%= image_tag "40x600_rightbar.jpg" %>-->
        </td>
        <td width="395" valign="top">
          <table width="100%" cellpadding="15" cellspacing="15" border="0">
          <tr align="left"><td valign="top">
          <br />

          <b>Custom Framing &amp; Mirror Design</b>
          <p><br />
          The gallery specializes in the highest-quality, archival custom framing, including hand-painted mat decoration for works on paper. Bringing a sophisticated eye and thoughtful approach - simple, elegant, appropriate - to the choice of framing enhances and maximizes the qualities of the art work while respecting the location in which it will be displayed. 
          </p>

          <p><br />
          Custom mirrors of any size and in a wide range of styles and finishes can be ordered from our extensive collection of frame samples. In addition to regular mirror, antiqued mirror glass and machine or hand-beveling is also available.                           
          </p>
          <br />    
          
          </td></tr></table>        
        </td>
        </tr>
      
    </table></td>
  </tr>
  <tr align="center">
    <td>
      Susan Calloway Fine Arts | 1643 Wisconsin Ave NW | Washington DC 20007 | 202 965 4601 <br />
      <a href="/gallery/fine-art">Fine Art</a> | 
      <a href="/contact">Contact</a> | 
      <a href="/about">About</a> | 
      <a href="/gallery/custom-framing-and-mirror-design">Design</a>
    </td>
  </tr>
</table>


<map name="Map" id="Map"><area shape="rect" coords="81,31,166,52" href="/gallery/fine-art" />
  <area shape="rect" coords="172,33,247,52" href="/gallery/custom-framing-and-mirror-design" />
  <area shape="rect" coords="251,34,352,50" href="/about" />
</map>
<map name="Map2" id="Map2">
  <area shape="rect" coords="79,223,324,245" href="/" />
</map>            