/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height:15px;
}
body {
	background-color: #D8D9BE;
}
.description {
	color:#B3B3B3;
	padding-left:5px;
	background-color:#333333;
	vertical-align:bottom;
	line-height:13px;
}
.description a:link{	color:#B3B3B3; text-decoration:none; }
.description a:visited{	color:#B3B3B3; text-decoration:none;}
.description a:hover{	color:#B3B3B3; text-decoration:underline;}

a:link{	color:#333333; text-decoration:none; }
a:visited{	color:#333333; text-decoration:none;}
a:hover{	color:#333333; text-decoration:underline;}
.gallery{
	padding-bottom:2px;
}

img.portfolio-image {
	border:3px white solid;
}

img.highlighted {
   border:3px red solid;
}

.side-description {
	margin-top:10px;
	margin-left:20px;
	margin-right:10px;
	font-weight:bold;
}

.side-description-title {
	font-variant: small-caps;

	margin-bottom: 10px;
	margin-top:10px;
	margin-left:20px;
	margin-right:10px;
	font-weight:bold;	
	font-size: 16px;
}

.return-category {
	font-weight:bold;
	font-size:14px;
	margin-left: 5px;
	margin-top:10px;
	margin-bottom:10px;
	font-variant: small-caps;
	float:left;
}

.listing-navigation {
	font-weight:bold;
	font-size:14px;
	margin-left: 5px;
	margin-top:10px;
	margin-bottom:10px;	
	font-variant: small-caps;
	margin-right:5px;

	float:right;
}

div.left-navigation-highlighted {
	border-right:3px solid red;
}

div.left-navigation {
	border:3px solid white;
	height:25px;
	margin-bottom: 10px;

}

div.not-available {
  opacity: 0.3;
}